h1{
    color:goldenrod ;
    font-size: 3rem;
    font-weight: bold;
   
   
}
body{
 font-family: 'Trebuchet MS' , 'Lucida Sans Unicode', 'san-serif';

text-align: center;
background-image:url("table.jpg") ;
background-size: cover;
font-size: large;
font-weight: bolder;
color: #fff;

}
#message-el{
font-style: italic;
}
#start-button{
    color: #016f32;

    border-radius: 2px;
   border:none;
    font-size: larger;
    font-weight: bold;
    background-color: goldenrod;
    width: 150px;
   padding-top: 5px;
   padding-bottom: 5px;
    
}